In [1]:
import pandas as pd
import re

In [14]:
def getTokens(line):   
    splitLine = line.split(' - ') 
    dateTime = splitLine[0]
    date, time = dateTime.split(', ') 
    message = ' '.join(splitLine[1:])
    if validSender(message):
        splitMessage = message.split(': ') 
        sender = splitMessage[0] 
        message = ' '.join(splitMessage[1:])
    else:
        sender=None
    return date, time, sender, message
def validSender(text):
    patterns = [
        '([\w]+):',                        # First Name
        '([\w]+[\s]+[\w]+):',              # First Name + Last Name
        '([\w]+[\s]+[\w]+[\s]+[\w]+):',    # First Name + Middle Name + Last Name
        '([+]\d{2} \d{5} \d{5}):',         # Mobile Number (India)
        '([+]\d{2} \d{3} \d{3} \d{4}):',   # Mobile Number (US)
        '([\w]+)[\u263a-\U0001f999]+:',    # Name and Emoji              
    ]
    pattern = '^' + '|'.join(patterns)
    result = re.match(pattern, text)
    if result:
        return True
    return False
def startDT(line):
    pattern='^([0-9]+)(/)([0-9]+)(/)([0-9][0-9][0-9][0-9]), ([0-9]+):([0-9][0-9]) (am|pm) -'
    result=re.match(pattern, line)
    if result:
        return True
    else:
        return False

data=[]
with open('C:/Users/mujta/Downloads/chat1.txt', encoding="utf-8") as fp:
    buffer=[]
    date,time,sender=None, None, None
    while True:
        line=fp.readline()
        if not line:
            break
        else:
            line=line.strip()
            if startDT(line):
                 if len(buffer) > 0: 
                     data.append([date, time, sender, ' '.join(buffer)]) 
                 buffer.clear() 
                 date, time, sender, message = getTokens(line) 
                 buffer.append(message) 
            else:
                 buffer.append(line)               
df=pd.DataFrame(data, columns=['Date','Time','Sender','Message'])    
df['Date']=pd.to_datetime(df['Date'])                  
df['Time']=pd.to_datetime(df['Time'])

In [15]:
df.head()

,Date,Time,Sender,Message
0,2019-04-04,2021-02-09 22:13:00,Laraib,Lol
1,2019-04-04,2021-02-09 22:13:00,Laraib,Black panther bish
2,2019-04-04,2021-02-09 22:14:00,Haris Iba,Beekar movies
3,2019-04-04,2021-02-09 22:14:00,Shaheer IBA,Ohhhhhhh
4,2019-04-04,2021-02-09 22:14:00,Shaheer IBA,I forgot ham wo dekhne gae the lololol

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39998 entries, 0 to 39997
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     39998 non-null  datetime64[ns]
 1   Time     39998 non-null  datetime64[ns]
 2   Sender   39870 non-null  object
 3   Message  39998 non-null  object
dtypes: datetime64[ns](2), object(2)
memory usage: 1.2+ MB

In [19]:
df.Sender.unique()

array(['Laraib', 'Haris Iba', 'Shaheer IBA', 'Salman Iba', 'Emaad IBA',
       'Ali Iba', 'Shahzaib IBA', 'Mujtaba Afzal', 'Yahya IBA',
       'Saadat Iba', None, 'Ahsan Iba', 'Shayan Iba', 'Sohaib IBA',
       'Hammad Javed', 'Hammad Ahmed', 'Akash Iba'], dtype=object)